<%= form_with(model: work) do |form| %>
  <% if work.errors.any? %>
    <div class="alert alert-danger">
      <p><%= pluralize(work.errors.count, "error") %> prohibited this work from being saved:</p>

      <ul>
        <% work.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id %>
    <%= form.number_field :user_id, class: "form-control" %>
  </div>

  <div>
    <%= form.label :work_on %>
    <%= form.date_field :work_on, class: "form-control" %>
  </div>

  <div>
    <%= form.label :start_at %>
    <%= form.datetime_field :start_at, class: "form-control" %>
  </div>

  <div>
    <%= form.label :end_at %>
    <%= form.datetime_field :end_at, class: "form-control" %>
  </div>

  <div>
    <%= form.label :location %>
    <%= form.text_field :location, class: "form-control" %>
  </div>

  <div>
    <%= form.label :body %>
    <%= form.textarea :body, class: "form-control" %>
  </div>

  <div>
    <%= form.label :approved %>
    <%= form.checkbox :approved, class: "form-control" %>
  </div>

  <div class="mt-3">
    <%= form.submit nil, class: "btn btn-primary" %>
  </div>
<% end %>
