<div id="<%= dom_id work %>">
  <p>
    <strong>User:</strong>
    <%= work.user_id %>
  </p>

  <p>
    <strong>Work on:</strong>
    <%= work.work_on %>
  </p>

  <p>
    <strong>Start at:</strong>
    <%= work.start_at %>
  </p>

  <p>
    <strong>End at:</strong>
    <%= work.end_at %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= work.location %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= work.body %>
  </p>

  <p>
    <strong>Approved:</strong>
    <%= work.approved %>
  </p>

</div>
