<div id="<%= dom_id vote %>">
  <p>
    <strong>Event:</strong>
    <%= vote.event_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= vote.name %>
  </p>

  <p>
    <strong>Answers:</strong>
    <%= vote.answers %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= vote.comment %>
  </p>

</div>
