<% content_for :title, "回答" %>

<h1><%= @event&.title %>への回答</h1>

<table id="votes" class="table">
  <% @votes.each do |vote| %>
    <tr>
      <td>
        <%= link_to vote.name, vote %>
      </td>
      <td>
        <%= vote.answers %>
      </td>
      <td>
        <%= vote.comment %>
      </td>
    </tr>
  <% end %>
</table>

<% if @event %>
<%= link_to "戻る", event_path(@event), class: "btn btn-light" %>
<% end %>