<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div class="alert alert-danger">
      <p><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</p>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div>
    <%= form.label :schedules %>
    <%= form.text_field :schedules, placeholder: sample_schedules, class: "form-control" %>
    <small>コンマ(,)区切りで候補日を2つ以上記入します。 例: 4/30 14:00, 5/1 15:00</small>
  </div>

  <div class="mt-3">
    <%= form.submit "イベントを作成する", class: "btn btn-primary" %>
  </div>
<% end %>


