<div class="row">
  <div class="col-md-6 offset-md-3">
    <%= form_with url: session_path do |form| %>
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address], class: "form-control" %>
      <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72, class: "form-control mt-2" %>
      <%= form.submit "Sign in", class: "btn btn-primary mt-2" %>
    <% end %>
    <br>
    
    <%= link_to "Forgot password?", new_password_path %>
  </div>
</div>
